@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap');
*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'open sans', sans-serif;
}
section
{
    position: relative;
    min-height: 100vh;
    background:aa.jpeg;
    display: flex;
    justify-content: center;
    align-items: center;
}
section h1
{
    color: #d56adf;
    font-size: 3em;
}
section h2
{
    color: #070707;
    font-size: 1em;
}
.light
{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: radial-gradient(circle at var(--x) var(--y),transparent 10%,rgb(0, 0, 0)20%);
}